version: "3.9"
services:
  server:
    build: ./server
    container_name: server_app
    ports:
      - "5000:5000"
  client:
    build:
      context: ./client
      args: 
        NEXT_PUBLIC_API_URL : http://localhost:5000
    container_name: client_app
    ports:
      - "3000:3000"
    depends_on:
      - server